
*{
    margin: 0px;
    padding: 0px;
}
section{
    pad: 10px 15px;
}
.contaner {
    width: 1140px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
   
}
header {
    background: #cbb0ff;
}
.topbar {
    overflow: hidden;
}

.logo img {
    width: 80px;
}

.logo {
    width: 200px;
    margin: auto;
}
.topmainmanu {
    background: #2c243b;
}
.manuwrapper {
    overflow: hidden;
}

ul#manulist {
    list-style: none;
    display: block;
    float: left;
}

ul#manulist li {
    float: left;
    display: block;
    padding: 10px;
    font-size: 19px;
    color: #e6e6e6;
    cursor: pointer;
    transition: .5s;
}
ul#manulist li:hover{
    color: #ff8d00;
}
.topbarmanu {
    margin-top: 10px;
}

.socallink {
    float: right;
    display: block;
}

.socallink i {
    text-align: center;
    margin-top: 4px;
    padding: 8px;
    font-size: 17px;
    color: rgb(160, 159, 159);
    cursor: pointer;
    transition: .5s;
}
.socallink i:hover{
    color: #ff8d00;
}
.socallink a{
border-left: 1px solid #9a9a9a;
}
.socallink a:last-child{
    border-right: 1px solid #9a9a9a; 
}


#topselaider {
    background:url(../image/ss_coffee_118921_1680x1050.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}



.content h1 {
    color: #ff8d00;
    margin-top: 200px;
    font-size: 45px;
    font-family: sans-serif;
}

.content p {
    width: 523px;
    color: white;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}

.content button {
    background: transparent;
    border: 2px solid #00ffad;
    outline: none;
    padding: 10px 45px;
    margin-top: 110px;
    margin-bottom: 160px;
    margin-right: 25px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: .5s;
}
.content button:hover{
    border: 2px solid #ff8d00;
    border-radius: 20px;
}
#foodit{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sboxwrapper {
    overflow: hidden;
}

.singlebox {
    width: 245px;
    height: 345px;
    display: block;
    float: left;
    overflow: hidden;
    background: #3c3c3c;
    color: white;
    padding: 10px;
    margin-left: 15px;
    box-shadow: 0px 0px 6px rgb(41, 41, 41);
    transition: .5s;
    margin-top: 40px;
    margin-bottom: 40px;
}
.singlebox:hover{
    transform: scale(1.06);
    box-shadow: 0px 5px 5px black;
}
.singlebox:first-child{
    margin-left: 15px;
}
.singlebox img {
    width: 100%;
    height: 190px;
}
.singlebox h3 {
    color: orange;
}
.singlebox button {
    background: no-repeat;
    border: none;
    color: #cecece;
    padding: 10px 0px;
    transition: .5s;
}
.singlebox button:hover{
    color: #ffee00;
}

section#shef {
    background: #008882;
    
    margin-bottom: 80px;
    position: relative;
}
.shefwrapper{
    overflow: hidden;
}

.shefimg {
    width: 50%;
    float: left;
}

.shefimg img {
    width: 100%;
    display: block;
}

.shefcontent {
    width: 50%;
    float: right;
    text-align: center;
}

.shefcontent h1 {
    color: #e1e1e1;
    text-transform: uppercase;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 130px;
    margin-bottom: 10px;
}

.shefcontent p {
    color: #d4d4d4;
    font-size: 16px;
}

section#news {
    background: #48b36e;
    overflow: hidden;
}

.newslogo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.newslogo h1 {
    font-size: 28px;
    color: black;
}

.newslogo p {
    letter-spacing: 5px;
    color: #252525;
}

.newsmaincontent {
    width: 545px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.audio {
    display: block;
    float: left;
    width: 263px;
    background: white;
    text-align: center;
    color: #343434;
    border: 2px solid #424242;
}

.web {
    display: block;
    float: left;
    width: 263px;
    background: white;
    text-align: center;
    margin-left: 10px;
    color: #343434;
    border: 2px solid #424242;
}

.webicon {
    font-size: 35px;
}

.headphnicon {
    font-size: 35px;
}

.webcondition {
    width: 272px;
    margin-left: 10px;
    float: left;
    overflow: hidden;
}

ul.condition {
    list-style: none;
    background: #e1e1e1;
}

ul.condition h1 {
    color: #000000;
    margin-bottom: 15px;
    margin-left: 10px;
    padding-top: 25px;
}

ul.condition li {
    font-size: 15px;
    line-height: 30px;
}

ul.condition li i {
    color: #3c3c3c;
    margin-left: 10px;
    font-size: 12px;
}

.textbox {
    margin-top: 20px;
    background: black;
    color: white;
    padding: 10px;
    width: 100%;
}

.singlefooddetails {
    width: 270px;
    padding: 11px;
    float: left;
    margin: 0px 10px;
    background: #bcbcbc;
}

.singlefooddetails h3 {
    font-size: 25px;
    width: 245px;
    float: left;
}

.singlefooddetails i {
    cursor: pointer;
    color: #db0000;
    margin-top: 5px;
}

ul.pizadetels {
    margin-top: 25px;
}

ul.pizadetels li {
    margin-left: 16px;
    line-height: 30px;
}



.fooditembox {
    width: 255px;
    display: block;
    float: left;
    margin-bottom: 60px;
    margin-top: 20px;
    background: #7c7c7c;
    margin-left: 30px;
    box-shadow: 0px 0px 20px rgb(131, 131, 131);
    cursor: pointer;
    transition: 0.5s;
}
.fooditembox:hover{
    transform: scale(.9);
}
.fooditenwrapper {
    overflow: hidden;
}

.fooditembox img {
    width: 100%;
    height: 155px;
    overflow: hidden;
}


.foodprice h3 {
    color: #ffbc00;
    font-size: 25px;
    background: black;
    width: 68px;
    padding: 5px;
    box-shadow: 0px 0px 20px #ffbc00;
    margin-bottom: 15px;
}

.foodprice {
    padding: 8px;
}

.foodprice h3 span {
    font-size: 17px;
    padding: 2px;
}

.foodprice h4 {
    text-align: center;
    font-size: 20px;
    color: #171717;
}

.foodprice p {
    margin-top: 6px;
    font-size: 17px;
    color: #171717;
}

.rapimg img {
    width: 150px;
    position: absolute;
    bottom: -76px;
    right: 55px;
    box-shadow: -15px -15px 0px #00b5ad;
}







section#webdeteails {
    padding: 100px 0px;
    font-family: sans-serif;
    position: relative;
}

.webwrapper {
    overflow: hidden;
}

.webhead {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
}
.webhead h1{
    color: #484848;
}
.hr {
    width: 70px;
    height: 3px;
    background: #2b6b42;
    display: inline-block;
}

.webhead p {
    margin-top: 15px;
    color: #363636;
}

.websinglebox {
    width: 250px;
    margin-top: 85px;
    display: block;
    float: left;
    margin-left: 35px;
    transition-duration: 2s;
   
}
.websinglebox:hover>.websicon{
    color: rgb(74, 189, 8);
}

.websicon {
    padding: 5px 0px;
    color: #00b1a9;
    font-size: 35px;
}
.webh {
    font-size: 22px;
    padding: 5px 0px;
    color: #484848;
}
.websinglebox p {
    color: #2c2c2c;
    line-height: 22px;
    margin-top: 10px;
}
.webrep {
    width: 170px;
    position: absolute;
    top: -148px;
    right: 77px;
}
.webrep img {
    width: 100%;
}

div#imgg img {
    width: 200px;
    position: absolute;
    top: -100px;
    left: 70px;
}

section#video {
    background: #008882;
    padding: 50px 0px;
    position: relative;
}
.videowrapper {
    overflow: hidden;
}
.videocontent {
    text-align: center;
    font-family: ui-monospace;
    margin-bottom: 35px;
    color: #343434;
}
.videos {
    display: block;
    float: left;
    width: 349px;
    height: 200px;
    margin-left: 25px;
    box-shadow: 0px 0px 10px #131111;
}
.videos iframe {
    width: 100%;
    height: 100%;
}


section#ourworker {
    background: #dfdfdf;
    padding: 50px 0px;
    padding-bottom: 90px;
}

.workerwrapper {
    overflow: hidden;
}

.werkerhead {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #4a4a4a;
    margin-bottom: 10px;
}

.workersinglebox {
    width: 330px;
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 40px;
    background: #adadad;
    margin-top: 30px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 10px black;
    transition: .5s;
}
/*
.workersinglebox:hover{
    transform: scale(0.9);
}*/
.workerimg img {
    width: 100%;
    height: 350px;
    transition: .5s;
}
.workersinglebox:hover> .workerimg img{
    transform: scale(0.9);
}
.workercontent {
    padding: 10px;
}

.workercontent h2 {
    color: #3c3c3c;
    margin-bottom: 10px;
}

.workercontent p {
    color: #272727;
}

.workersocal {
    padding: 10px;
    color: #32334f;
}

.workersocal i {
    padding: 2px;
    transition: .5s;
    cursor: pointer;
}
.workersocal i:hover{
    color: rgb(255, 208, 0);
}



/*footer*/

footer {
    background: black;
    color: #d6d6d6;
    padding: 10px;
    position: relative;
}

.footerwrapper {
    overflow: hidden;
}

.footerbox {
width: 280px;
display: block;
float: left;
margin-left: 150px;
margin-top: 70px;
}

.footerbox:first-child{
    margin-left:0px;
}

.ftlogo span {
    color: cyan;
}

.ftlogo h2 {
    letter-spacing: 4px;
    color: white;
}

.footerbox p {
    margin-top: 12px;
    margin-bottom: 20px;
}

.footerbox .phone {
    margin-top: 7px;
}

.footerbox .phone i {
    margin-right: 5px;
    color: #ff8d00;
}

.footerbox h2 {
    color: white;
}

.footerbox ul {
    list-style: none;
    margin-top: 10px;
}

.footerbox ul li {
    margin-top: 3px;
    cursor: pointer;
    transition: .5s;
}
.footerbox ul li:hover{
    color:#f78d00;
}

.footerbox input {
    margin-top: 12px;
    background: #d6d6d6;
    border: none;
    outline: none;
    padding: 10px;
    width: 260px;
    margin-bottom: 10px;
    font-size: 16px;
}

.footerbox textarea {
    background: #d6d6d6;
    border: none;
    outline: none;
    font-size: 16px;
}
::placeholder{
    font-size: 16px;
    padding:10px;
}
.footerbox .send {
    float: right;
    background: #ff8d00;
    border: none;
    outline: none;
    color: white;
    padding: 7px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.footerbox .send:hover{
    background: tomato;
}
.copyright {
    background: #2c2c2c;
    margin-top: 10px;
}
.copyright p {
    padding: 3px;
    color: #767676;
    font-size: 13px;
}



.footersocal {
    width: 350px;
    height: 80px;
    background: #ff8d00;
    position: absolute;
    top: -41px;
    right: 300px;
}

.footersocal i {
    color: white;
    background: black;
    padding: 10px;
    border-radius: 50%;
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;
    transition: .7s;
}
.footersocal i:hover{
    background: rgb(0, 0, 0);
    color: #ff8d00;
}
.footersocal i:first-child{
    margin-left: 65px;
}